.ant-dropdown-menu{
    height: 200px;
    overflow-y: scroll;
}

.drp-input{
    width: 100%;
    height: 80%;
    padding: 3px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* color: rgb(223, 213, 213); */
}



.drp-input:focus, .drp-input:hover{
    border-color: #40a9ff;
    border-right-width: 1px !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}