.ant-form-item-label > label {
  color: aliceblue;
}

.ant-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 80%;
  min-height: 80vh;
  background-color: #2d3535;
}

.ant-form > * {
  width: 100%;
}
.ant-form label {
  font-weight: 600;
}
.ant-btn-primary {
  border: none;
}
.field-input {
  width: 100%;
  height: 80%;
  padding: 3px;
  border-radius: 10px;
}

.main-row {
  padding: 25px;
  border-radius: 5px;
  background-color: rgb(34, 87, 46);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.main-row__btns {
  display: flex;
  justify-content: flex-end;
}

.main-row__btns .edit-btn {
  width: fit-content;
  margin: 5px;
}

.main-row__btns .edit-btn:hover {
  opacity: 0.8;
}

.fields__field_row {
  /* display:flex; */
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
  /* max-height:300px; */
  /* min-height: 280; */
  background-color: rgb(39, 96, 145);
  /* overflow: hidden; */
  transition: all 0.7s;
}

/* width */
/* .fields__field_row::-webkit-scrollbar {
  width: 10px;
  height: 7px;
} */

/* Track */
/* .fields__field_row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
  */
/* Handle */
/* .fields__field_row::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
} */

/* Handle on hover */
/* .fields__field_row::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
} */

.fields__field_row h3 {
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}

.nepali-date {
  height: 100%;
  width: 100%;
  /* padding: 3px; */
  border-radius: 10px;
  outline: none;
  border: none;
  /* margin:2px 0; */
}

.nepali-date-picker {
  height: 80%;
}

.radioBtns > * {
  margin-left: 5px;
}
