h1,
h2,
h3 {
  color: white !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pat-form {
  /* padding: 5px; */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 80%;
  height: 50vh;
  background-color: darkslategray;
}

.ant-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
